*{
    box-sizing: border-box;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    text-align: center;
    min-height: 50vh;
    background: #282c34;
    border-radius: 18px;
    padding: 20px 30px;
}

.reader{
    height: 250px;
    display: flex;
    justify-content: center;
    flex-shrink: 2;
    align-items: center;
    padding: 30px;
    width: 250px;
    border-radius: 50%;
    transition: background-color .5s;
    animation: readerAnimate 5s ease-in-out infinite alternate;
}

.temp-number{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.3em;
}

.btns{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btns button{
    height: 60px;
    width: 60px;
    border: 1px solid white;
    background-color: grey;
    border-radius: 50%;
    transition: .3s;
    color: white;
    font-size: 30px;
}

.btns button:hover{
    background-color: lightgray;
}

@keyframes readerAnimate {
    0%{
        transform: scale(0.75);
    }

    100%{
        transform: scale(1);
    }
}